

.grid_12 h1
{
	height:50px;
	font-size:35px; 
	font-family: 'Fjalla One', sans-serif;
	color: black;
	text-align: center;
	position: relative;
	top:20px;

}
#fac1
{
	background: url(../image/id4.jpg)no-repeat;
	width: 300px;
	height: 300px;
	position: relative;
	top:50px;
}
#fac2
{
	background: url(../image/id3.jpg)no-repeat;
	width: 300px;
	height: 300px;
	position: relative;
	top:50px;
}
#fac3
{

	background: url(../image/abcd.jpg)no-repeat;
	width: 300px;
	height: 300px;
	position: relative;
	top:50px;
}
.fa{
	position: relative;
	top:-5px;
}

.fa h1
{
	text-align: left;
	font-size: 25px;
	padding-top: -20px;
	font-family: 'Playfair Display', serif;

}
.fa p
{
	text-align: left;
	font-size: 15px;
	padding-top: 10px;
	font-family: 'Playfair Display', serif;
	color: black;

}
}
