.heading
{
	width:100%;
	height:60px;
	background-size: cover;
    background: url(../image/c1.jpg) no-repeat;
    position: fixed;
overflow: hidden;
top:0;
z-index: 1000;

}


.list li {

	display: inline;
	float: right;
   margin-top: 20px;
	margin-right: 50px; 
	font-size: 20px;
	font-family: sans-serif;
	
}

.list li a {
	color: #fff;
	text-decoration: none;
	font-family: 'Merriweather', serif;
}

.list li a:hover
{
	font-size: 30px;
	text-decoration:bold;
	color: gold;
}

.b1
{
	background:url(../image/fff.jpg);
	position: relative;
	top:60px;
	width: 100%;
	
	
}
.container_12
{
	background-color: ;
	
	
}
.ab
{
	margin-left:0;
}
.grid_12 h1
{
	text-align: center;
	font-size: 30px;
	background-color:#8FBC8F;
font-family: 'Fjalla One', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}
.ra h1
{
	font-family: 'Fjalla One', sans-serif;
}
#dos1
{
	background: url(../image/rava.jpg);
	width:305px;
	height: 320px;
	position: relative;
	top:5px;
    background-size: cover;
	margin-right:0;
	margin-left: 0px;

}
#dos2
{
	background: url(../image/ge.jpg);
	width:305px;
	height: 320px;
	font-family: 'Candal', sans-serif;
	position: relative;
	top:5px;
    background-size: cover;
	margin-right:0;
	margin-left: 7px;
	padding-left: 5px;
}
#dos3
{
	background: url(../image/ma.jpg);
	width:306px;
	height: 320px;
	position: relative;
	top:5px;
    background-size: cover;
	margin-right:0;
	margin-left: 7px;
	padding-left: 5px;
}
#d1 h1
{
    
	font-size: 20px;
	background-color:#DEA985;
	width: 305px;
	margin-left: 0px;
	height: 30px;
	position: relative;
	top:10px;
	font-family: 'Lobster', cursive;

}
#d2 h1
{
    
	font-size: 20px;
	background-color:#DEA985;	width: 308px;
	margin-left: 1px;
	height: 30px;
	position: relative;
	top:10px;
	font-family: 'Lobster', cursive;

}
#d3 h1
{
    
	font-size: 20px;
	background-color:#DEA985;
	width: 309px;
	margin-left:8px;
	height: 30px;
	position: relative;
	top:10px;
font-family: 'Lobster', cursive;
}
.idly h1
{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	background-color:#8FBC8F;
	width: 100%;
	position: relative;
	top: 15px;
	margin:0;
	padding: 0;
	
}
#idl1
{
	background: url(../image/id.jpg);
	width:305px;
	height: 320px;
	position: relative;
	top:20px;
    background-size: cover;
	margin-right:0;
	margin-left: 0px;
}
#idl2
{
	background: url(../image/mini.jpg);
	width:305px;
	height: 320px;
	position: relative;
	top:20px;
    background-size: cover;
	margin-right:0;
	margin-left: 7px;
	padding-left: 0px;
}
 #idl3
{
	background: url(../image/po.jpg);
	width:307px;
	height: 320px;
	position: relative;
	top:20px;
    background-size: cover;
	margin-right:0;
	margin-left: 7px;
	padding-left: 0px;
}
#i1 h1
{
    
	font-size: 20px;
	background-color:#DEA985;
	width: 305px;
	margin-left: 0px;
	height: 30px;
	position: relative;
	top:25px;
font-family: 'Lobster', cursive;
}
#i2 h1
{
    
	font-size: 20px;
background-color:#DEA985;
	width: 302px;
	margin-left: 0px;
	height: 30px;
	position: relative;
	top:25px;
	margin-left: 4px;
	padding-left: 5px;
font-family: 'Lobster', cursive;
}
#i3 h1
{
    
	font-size: 20px;
background-color:#DEA985;
	width: 305px;
	margin-left:8px;
	height: 30px;
	position: relative;
	top:25px;
	margin-left: 7px;
	padding-left: 5px;
font-family: 'Lobster', cursive;
}
.sa h1
{
	text-align: center;
	font-size: 30px;
	background-color:#8FBC8F;
	width: 100%;
	position: relative;
	top: 30px;
	margin:0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;

}
#s1
{
	background: url(../image/tr.jpg);
	width:305px;
	height: 320px;
	position: relative;
	top:35px;
    background-size: cover;
	margin-right:0;
	margin-left: 0px;
}
#s2
{
	background: url(../image/ss.jpg);
	width:305px;
	height: 320px;
	position: relative;
	top:35px;
    background-size: cover;
	margin-right:0;
	margin-left: 7px;
	padding-left: 0px;
}
 #s3
{
	background: url(../image/b2.jpg);
	width:307px;
	height: 320px;
	position: relative;
	top:35px;
    background-size: cover;
	margin-right:0;
	margin-left: 7px;
	padding-left: 0px;
}
#sd1 h1
{
    
	font-size: 20px;
	background-color:#DEA985;
	width: 305px;
	margin-left: 0px;
	height: 30px;
	position: relative;
	top:40px;
	font-family: 'Lobster', cursive;

}
#sd2 h1
{
    
	font-size: 20px;
	background-color:#DEA985;
	width: 305px;
	margin-left: 1px;
	height: 30px;
	position: relative;
	top:40px;
	margin-left: 2px;
	padding-left: 5px;
font-family: 'Lobster', cursive;
}
#sd3 h1
{
    
	font-size: 20px;
	background-color:#DEA985;
	width: 305px;
	margin-left:8px;
	height: 30px;
	position: relative;
	top:40px;
	margin-left: 7px;
	padding-left: 5px;
	font-family: 'Lobster', cursive;

}

footer{
	width:100%;
	height:50px;
	background: #8B4513;
	position: relative;
	top: 60px;
	

}
.foot li a{
		
		display: inline;
		float: right;
        
        margin-right: 10px; 
	  font-size: px;
	   font-family: sans-serif;
	   margin-top: 14px;
	   margin-left:0px;
 

}
.ic
{
	width: 30px;
	height: 30px;
	padding-bottom: 2px
}
.details
{

	background-color: black;
	opacity: 0.4;
}
.detail li{
		font-size:16px;
		display: inline;
		float: right;
        color: black;
        text-align: center;
         margin-right: 50px; 
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 0px;
	margin-left: 20px;
	margin-right:0px;
	padding-top: 40px; 
	text-align: center;
}
.detail a
{
	text-decoration: none;
	 text-align: center;
	 font-color:white;
	 
} 
.f
{
	float: left;
	width:165px;
	margin-top: 20px;
	margin-left: 30px;
}
#f1
{
	float: left;
	width:250px;
	margin-top: 20px;
	margin-left: 30px;
}
.f a{
	text-decoration: none;
	color: white;
}
#f0
{
	width:100px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}